body {
    font-family: sans-serif;
    background-color: #111111;
    color: #FFFFFF;
}

html, .fullscreen {
    height: 100vh;
    margin: 0;
    padding: 1rem;
}

.container {
    margin: auto;
}

.title {
    text-align: center;
}

.full-name{
    text-align: center;
    color: orange;
    font-size: 1.5rem;
}

.accronym {
    color: orange;
    font-size: 3rem;
}

ul>li{
    padding: 10px;
    text-align: justify;
}